<div>
	<h1> Git Google</h1>
</div>

<div class="row mt100" *ngIf="showInput">
	<div class="col-md-2"></div>
	<div class="col-md-8 search-form">

		<form (ngSubmit)='submitUsername()' #gitForm='ngForm' name="Form">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6">
					<input type="text" class="form-control input-lg mb15 user-input" id="username" [(ngModel)]="username" name="username" autocomplete="off" placeholder=" Search Github Username">
					<button type="submit" class="btn btn-success btn-lg btn-block">Search Github Username</button>
				</div>
				<div class="col-md-3"></div>
			</div>
		</form>
	</div>
	<div class="col-md-2"></div>	
</div>
<app-search-form *ngIf="showData" (toggleBack)="showUserInput($event)"></app-search-form>
